@import url('https://fonts.googleapis.com/css?family=Fjalla+One&subset=latin-ext');

body {
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
}
label {
    padding-right: 15px;
}
p {
    font-size: 20px;
}
h1, #root {
    margin-top: 80px;
}
input {
    padding: 10px;
    border-radius: 5px;
    transform: translate(0,-7px);
}
a {
    text-decoration: none;
    color: #000;
    padding-left: 20px;
}
a:hover {
    text-decoration: underline;
}